<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>

</head>

<body>
    <nav>
        <ul>
            <li> <a href="/">HOME</a></li>
            <li><a href="/movie-list">MOVIES</a></li>
        </ul>
    </nav>
    {{{body}}}
    <footer>
        <ul>
            <li>Copyleft by Matías Mesch</li>
        </ul>
    </footer>
</body>

</html>